@import "tailwindcss";

:root {
  --primary: #0f4c4c;
  --secondary: #f4b400;
  --cream: #fff8e7;
  --white: #ffffff;
  --text: #5f6f65;
}

body {
  margin: 0;
  padding: 0;
  background: var(--cream);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}
